.card-img-top {
    height: 200px;
    object-fit: cover; /* Asegura que la imagen cubra el espacio sin deformarse */
}

.card-body {
    text-align: center; /* Centra el contenido dentro de la tarjeta */
}